@import './Line/line.scss';
@import './Scale/scale.scss';
@import './Selected/selected.scss';
@import './Tumblers/tumblers.scss';

.range-slider {
  display: flex;

  &_orient_vertical {
    height: 100%;
  }

  &_orient_horizontal {
    flex-direction: column;
    width: 100%;
  }
}
