@import "./Line/line.scss";
@import "./Scale/scale.scss";
@import "./Selected/selected.scss";
@import "./Tumblers/tumblers.scss";

.range-slider{
    display: flex;
    &_for_vertical{
        height: 100%;

    }
    &_for_horizontal{
        width: 100%;
        flex-direction: column;
    }
}