.range-slider {
  &__scale {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    &_for_vertical {
      flex-direction: column-reverse;
      width: 10px;
      height: 100%;
      padding: 0 0 0 5px;
    }

    &_for_horizontal {
      display: flex;
      width: 100%;
      height: 10px;
      padding: 5px 0 0 0;
    }
  }

  &__scale-cell {
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    color: rgb(107, 192, 174);
    font-size: 18px;

    & .range-slider__scale-value {
      position: absolute;
      cursor: pointer;
      user-select: none;
    }

    &_for_vertical {
      width: 20px;
      border-bottom: 1px solid rgb(107, 192, 174);

      & .range-slider__scale-value {
        top: 100%;
        left: 100%;
        padding-left: 5px;
        transform: translateY(-50%);
      }
    }

    &_for_horizontal {
      height: 20px;
      border-left: 1px solid rgb(107, 192, 174);

      & .range-slider__scale-value {
        top: 100%;
        transform: translateX(-50%);
      }
    }

    &_status_active {
      color: rgb(54, 157, 134);
      font-size: 24px;
      border-color: rgb(54, 157, 134);
      border-width: 1px;
    }
  }
}
