.range-slider {
  &__selected {
    position: absolute;
    z-index: 10;
    display: inline-block;
    background-color: rgb(107, 192, 174);
    border-radius: 10px;

    &_orient_vertical {
      left: 50%;
      width: 22px;
      transform: translateX(-50%);
    }

    &_orient_horizontal {
      top: 50%;
      height: 22px;
      transform: translateY(-50%);
    }
  }
}
