doctype html
html(lang='ru')
  head
    title RangeSlider
    meta(charset='utf-8')
    meta(name="description", content=description)
    meta(name="viewport" content="width=device-width")

  body
    .wrapper.first_wrapper
      include ./panel.pug
      div Контейнер под слайдер
    .wrapper.second_wrapper
      include ./panel.pug
      div Контейнер под слайдер(2)
    .wrapper.third_wrapper
      include ./panel.pug
      div.for_vertical Контейнер под слайдер(3)
    .wrapper.fourt_wrapper
      include ./panel.pug
      div Контейнер под слайдер(4)
