doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name="description", content=description)
    meta(name="viewport" content="width=device-width")
    title RangeSlider

  body
    .wrapper(style="width:40%; height: 50px; margin:auto; padding: 40px")
        div(style="height: 30px; padding-top:20px;")
    .wrapper-two(style="width:40%; height: 50px; margin:auto; padding: 40px")
        div(style="height: 30px; padding-top:20px;")
